div{
    width: 75px;
    height: 75px;
    /* change X x Y !! */
    background-color: #f00;
    /* 1s TO 10s | 0s TO 2s */
    animation: walk 10s linear 2s infinite;
}

body{
    width: 100%;
    min-width: 100%;
}
/* Add @keyframes */
@keyframes walk{
    from{
        transform: translateX(0);
    }

    50%{
        background-color: #10a0ff;
    }

    to{/* 754vw TO 75vw TO 75% TO 1rem TO 100px */
        transform: translateX(100px);
    }
}