div{
    width: 75px;
    height: 75px;
    /* change X x Y !! */
    background-color: #f00;
    /* 1s TO 10s */
    animation: walk 10s linear 0s infinite;
}
/* Add @keyframes */
@keyframes walk{
    from{
        transform: translateX(0);
    }

    50%{
        background-color: #10a0ff;
    }

    to{/* 754vw TO 75vw TO 75%*/
        transform: translateX(75%);
    }
}